.topbar{
    background-color: #212529;
    padding: 0;

  }
  
  .topbar .container .row {
    margin:0px;
    padding:0;
  }
  
  .topbar .container .row .col-md-12 { 
    padding:0;
  }
  

.btn-lg,  #prestamo-btn{
  margin-left:10px;
}




#admin-btn{
  font-size: 2rem;
  color: white;
}