{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap %}

{% block subtitle %}
Proyectores
{% endblock %}


{% block styles %}

{% endblock %}

{% block nav %}

{% include 'dash_navbar.html' %}

{% endblock %}



{% block content %}

{% block messages %}
  {% include 'messages.html' %}
{% endblock %}

<div class="container mb-3 d-flex justify-content-between align-items-center">
    <h1 class="mb-3"> Registrar Componente </h1>
  </div>

<form action="{% url 'add_componente' %}" method="post">
{% csrf_token %}
{{ form|bootstrap }}

<div class="container mb-3 d-flex justify-content-between align-items-center">
    <button class="btn btn-warning">Registrar Componente</button>
    
    <a class="btn btn-secondary" href="{% url 'proyectores' %}" role="button">Cancelar</a>
  
  </div>



</form>

{% endblock %}

{% block scripts %}

{% endblock %}