<nav class="navbar navbar-expand navbar-light bg-light">
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'dashboard' %}">Dashboard </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'lista_prestamos' %}">Lista de Prestamos </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'proyectores' %}">Proyectores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'solicitantes' %}">Solicitantes</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="export_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Exportar datos
                </a>
                <div class="dropdown-menu" aria-labelledby="export_dropdown">
                  
                  <a class="dropdown-item" href="{% url 'exportar_csv_prestamos' %}">Exportar CSVs de Prestamos</a>
                  <a class="dropdown-item" href="{% url 'exportar_csv_solicitantes' %}">Exportar CSVs de Solicitantes</a>
                </div>
              </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user.username }}
              </a>
              <form class="logout-link" action="{% url 'accounts:logout' %}" method="POST">
                    {% csrf_token %}
                    <div class="dropdown">
                      <div class="dropdown-menu">
                          <button type="submit" class="dropdown-item">Cerrar Sesión</button>
                      </div>
                    </div>
                </form>
            </li>
            {% else %}
            <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:login' %}">Log in</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>