{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap %}
{% load tz %}


{% block subtitle %}
Solicitud
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static '/css/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static '/plugins/combobox/combobox.css' %}">
{% endblock %}



{% block content %}


  {% include "messages.html" %}




<div class="container text-center">


<div class="d-flex flex-row justify-content-center">
        <button type="button" class="btn btn-lg btn-primary" id="prestamo-btn" data-toggle="modal" data-target="#prestamoModal">
            Prestamo <i class="icon ion-md-arrow-down"></i>
        </button>

        <button type="button" class="btn btn-lg btn-success" id="devolucion-btn" data-toggle="modal" data-target="#devolucionModal">
            Devolucion <i class="icon ion-md-arrow-up"></i>
        </button>

</div>

    


<!-- Modal -->
<div class="modal fade" id="prestamoModal" tabindex="-1" role="dialog" aria-labelledby="prestamoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="prestamoModalLabel">Prestamo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                <form class="site-form" action="{% url 'prefill_solicitud' %}" method="POST" autocomplete="off">
                        {% csrf_token %}
                        <table>
                          
                                <div class="form-group">
                                        <label for="matricula-solicitante">No. Control</label>
                                        <input type="text" name="solicitante" class="form-control" id="matricula-solicitante" placeholder="No. Control" required>
                                    </div>
                                
  
                        </table>
                    
        </div>
        <div class="modal-footer">
        
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Registrar</button>
        </div>

    </form>
      </div>
    </div>
  </div>


  
<!-- Modal -->
<div class="modal fade" id="devolucionModal" tabindex="-1" role="dialog" aria-labelledby="devolucionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="devolucionModalLabel">Devolucion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4">
                  <div class="input-group">
                    <div class="input-group-prepend">
              
                      <span class="input-group-text" id="search-addon"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="search" id="search" value="" class="form-control" aria-describedby="search-addon" placeholder="Buscar por Nombre, No. Control, Materia, Aula, Etc... " autocomplete="off">
                  </div>
                </div>
              </div>

          <table class="table text-center table-hover" id="prestamo-table" cellpadding="10">
            <thead>
              <tr>
                <th scope="col">No. Prestamo</th>
                <th scope="col">Fecha</th>
                <th scope="col">Nombre Solicitante</th>
                <th scope="col">No. Control</th>
                <th scope="col">Materia</th>
                <th scope="col">Aula</th>
                <th scope="col">No. Proyector</th>
                <th scope="col">Componentes</th>
                <th scope="col">Hora entrega</th>
              </tr>
            </thead>
            <tbody>
              {% for abierto in abiertos %}
                
                {% if abierto.hora_fin < today %}
                <tr class="clickable-row table-danger" onclick="devolucion_confirm()" data-href="{% url 'devolucion' abierto.id %}">
                {% else %}

                <tr class="clickable-row table-success" onclick="devolucion_confirm()" data-href="{% url 'devolucion' abierto.id %}">
                  
                {% endif %}
                  <td scope="row">{{ abierto.id }} </td>
                  <td>{{ abierto.fecha_hora }}</td>
                  <td>{{ abierto.solicitante.nombre }} {{ abierto.solicitante.ap_pat }} {{ abierto.solicitante.ap_mat }}</td>
                  <td>{{ abierto.solicitante}}</td>
                  <td>{{ abierto.materia }}</td>
                  <td>{{ abierto.aula}}</td>
                  <td>Proyector #{{ abierto.proyector.id_proyector }}</td>
                  <td>
                    <ul>
                      {% for componente in abierto.componentes.all %}
                      <li>{{ componente }}</li>
                      {% empty %}
                      No se prestaron componentes
                      {% endfor %}
                    </ul>
                  </td>
                  <td>{{ abierto.hora_fin }}</td>
                </tr>
                {% empty %}
                <p> No hay prestamos abiertos. </p>
              
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>

</div>



{% endblock %}

{% block scripts %}
<script src="{% static 'plugins/jquery-searchable/jquery.searchable.js' %}"></script>
<script src="{% static '/plugins/combobox/combobox.js' %}"></script>
<script>
$('#datetimepicker-hora_fin').datetimepicker({
    inline:true,
    sideBySide:true,
    format: "YYYY-MM-DD HH:mm:00",
    buttons: {
    showToday: true,
    showClear: true,
    showClose: false
  }
    
});

</script>
<script type="text/javascript">
  $(function () {
    $( '.table' ).searchable();
  });
</script>

<script type="text/javascript">
  $(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>
<script>
function devolucion_confirm() {
  confirm("Desea realizar la devolucion del proyector?");
}
</script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}