{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap %}
{% load tz %}

{% block subtitle %}
Lista de Solicitantes
{% endblock %}

{% block styles %}

{% endblock %}

{% block nav %}

{% include 'dash_navbar.html' %}

{% endblock %}

{% block content %}




  {% include 'messages.html' %}


{% include 'preloader.html' %}
<h1 class="mb-4"> Lista de Prestamos </h1>

<div class="prestamos">

    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <input type="search" id="search" value="" class="form-control" placeholder="Buscar...">
        </div>
      </div>

    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            
        </div>
      </div>
  <ul class="nav nav-tabs flex-fill justify-content-center bg-light" id="myTab" role="tablist">
      <li class="nav-item">
          <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="false">Todas</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" id="vigentes-tab" data-toggle="tab" href="#vigentes" role="tab" aria-controls="vigentes" aria-selected="true">Prestamos Vigentes</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="expirados-tab" data-toggle="tab" href="#expirados" role="tab" aria-controls="expirados" aria-selected="true">Prestamos Expirados</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="cerrados-tab" data-toggle="tab" href="#cerrados" role="tab" aria-controls="cerrados" aria-selected="true">Prestamos Cerrados</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="incidencias-tab" data-toggle="tab" href="#incidencias" role="tab" aria-controls="incidencias" aria-selected="true">Incidencias</a>
      </li>
  </ul>
<div class="tab-content " id="myTabContent">

    <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
        <table class="table text-center table-hover" id="prestamo-table" cellpadding="10">
            <thead>
              <tr>
                <th scope="col">No. Prestamo</th>
                <th scope="col">Fecha</th>
                <th scope="col">Nombre Solicitante</th>
                <th scope="col">No. Control</th>
                <th scope="col">Materia</th>
                <th scope="col">Aula</th>
                <th scope="col">Hora entrega</th>
                <th scope="col">Marcado como Incidencia</th>
              </tr>
            </thead>
            <tbody>
              {% for prestamo in prestamos %}
              
                {% if prestamo.hora_fin < today and prestamo.cerrado == False %}
                <tr class="clickable-row table-warning" data-href="#">
                {% elif prestamo.hora_fin > today and prestamo.cerrado == False %}
                <tr class="clickable-row table-primary" data-href="#">
                {% elif prestamo.cerrado == True %}
                <tr class="clickable-row table-dark" data-href="#">
                {% elif prestamo.incidencia == True %}
                <tr class="clickable-row table-danger" data-href="#">
                {% endif %}
                  <td scope="row">{{ prestamo.id }}</td>
                  <td>{{ prestamo.fecha_hora }}</td>
                  <td>{{ prestamo.solicitante.nombre }} {{ prestamo.solicitante.ap_pat }} {{ prestamo.solicitante.ap_mat }}</td>
                  <td>{{ prestamo.solicitante}}</td>
                  <td>{{ prestamo.materia }}</td>
                  <td>{{ prestamo.aula}}</td>
                  <td>{{ prestamo.hora_fin }}</td>
                  <td>{{ prestamo.incidencia }}</td>
                </tr>
              
              {% endfor %}
            </tbody>
          </table>

    </div>

    <div class="tab-pane fade" id="vigentes" role="tabpanel" aria-labelledby="vigentes-tab">
        <table class="table text-center table-hover" id="prestamo-table" cellpadding="10">
            <thead>
              <tr>
                <th scope="col">No. Prestamo</th>
                <th scope="col">Fecha</th>
                <th scope="col">Nombre Solicitante</th>
                <th scope="col">No. Control</th>
                <th scope="col">Materia</th>
                <th scope="col">Aula</th>
                <th scope="col">Hora entrega</th>
                <th scope="col">Marcado como Incidencia</th>
              </tr>
            </thead>
            <tbody>
              {% for vigente in vigentes %}
              
                <tr class="clickable-row table-primary" data-href="#">
                  <td scope="row">{{ vigente.id }}</td>
                  <td>{{ vigente.fecha_hora }}</td>
                  <td>{{ vigente.solicitante.nombre }} {{ vigente.solicitante.ap_pat }} {{ vigente.solicitante.ap_mat }}</td>
                  <td>{{ vigente.solicitante}}</td>
                  <td>{{ vigente.materia }}</td>
                  <td>{{ vigente.aula}}</td>
                  <td>{{ vigente.hora_fin }}</td>
                  <td>{{ vigente.incidencia }}</td>
                </tr>
              
              {% endfor %}
            </tbody>
          </table>
    </div>
    <div class="tab-pane fade" id="expirados" role="tabpanel" aria-labelledby="expirados-tab">
        <table class="table text-center table-hover" id="prestamo-table" cellpadding="10">
            <thead>
              <tr>
                <th scope="col">No. Prestamo</th>
                <th scope="col">Fecha</th>
                <th scope="col">Nombre Solicitante</th>
                <th scope="col">No. Control</th>
                <th scope="col">Materia</th>
                <th scope="col">Aula</th>
                <th scope="col">Hora entrega</th>
                <th scope="col">Marcado como Incidencia</th>
                <th scope="col">Marcar como Incidencia</th>
              </tr>
            </thead>
            <tbody>
              {% for expirado in expirados %}
              
                <tr class="clickable-row table-danger" data-href="#">
                  <td scope="row">{{ expirado.id }}</td>
                  <td>{{ expirado.fecha_hora }}</td>
                  <td>{{ expirado.solicitante.nombre }} {{ expirado.solicitante.ap_pat }} {{ expirado.solicitante.ap_mat }}</td>
                  <td>{{ expirado.solicitante}}</td>
                  <td>{{ expirado.materia }}</td>
                  <td>{{ expirado.aula}}</td>
                  <td>{{ expirado.hora_fin }}</td>
                  <td>{{ expirado.incidencia }}</td>
                  <td>
                    {% if expirado.incidencia == False %}
                    <form action ="{% url 'marcar_incidencia' expirado.id %}" method="POST">
                            {% csrf_token %}
                        <button class="btn btn-danger" type="submit" name="submit"><i class="fas fa-exclamation"></i></button>
                    </form>
                    {% else %}
                    <form action ="{% url 'marcar_incidencia' expirado.id %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-primary" type="submit" name="submit"><i class="fas fa-circle-notch"></i></button>
                    </form>
                    {% endif %}
                    </td>
                </tr>
              
              {% endfor %}
            </tbody>
          </table>

    </div>
    <div class="tab-pane fade" id="cerrados" role="tabpanel" aria-labelledby="cerrados-tab">
        <table class="table text-center table-hover" id="prestamo-table" cellpadding="10">
            <thead>
              <tr>
                <th scope="col">No. Prestamo</th>
                <th scope="col">Fecha</th>
                <th scope="col">Nombre Solicitante</th>
                <th scope="col">No. Control</th>
                <th scope="col">Materia</th>
                <th scope="col">Aula</th>
                <th scope="col">Hora entrega</th>
                <th scope="col">Marcado como Incidencia</th>
              </tr>
            </thead>
            <tbody>
              {% for cerrado in cerrados %}
              
                <tr class="clickable-row table-dark" data-href="#">
                  <td scope="row">{{ cerrado.id }}</td>
                  <td>{{ cerrado.fecha_hora }}</td>
                  <td>{{ cerrado.solicitante.nombre }} {{ cerrado.solicitante.ap_pat }} {{ cerrado.solicitante.ap_mat }}</td>
                  <td>{{ cerrado.solicitante}}</td>
                  <td>{{ cerrado.materia }}</td>
                  <td>{{ cerrado.aula}}</td>
                  <td>{{ cerrado.hora_fin }}</td>
                  <td>{{ cerrado.incidencia }}</td>
                </tr>
              
              {% endfor %}
            </tbody>
          </table>
    </div>
    <div class="tab-pane fade" id="incidencias" role="tabpanel" aria-labelledby="incidencias-tab">
        <table class="table text-center table-hover" id="prestamo-table" cellpadding="10">
            <thead>
              <tr>
                <th scope="col">No. Prestamo</th>
                <th scope="col">Fecha</th>
                <th scope="col">Nombre Solicitante</th>
                <th scope="col">No. Control</th>
                <th scope="col">Materia</th>
                <th scope="col">Aula</th>
                <th scope="col">Hora entrega</th>
                <th scope="col">Marcado como Incidencia</th>
              </tr>
            </thead>
            <tbody>
              {% for incidencia in incidencias %}
              
                <tr class="clickable-row table-danger" data-href="#">
                  <td scope="row">{{ incidencia.id }}</td>
                  <td>{{ incidencia.fecha_hora }}</td>
                  <td>{{ incidencia.solicitante.nombre }} {{ incidencia.solicitante.ap_pat }} {{ incidencia.solicitante.ap_mat }}</td>
                  <td>{{ incidencia.solicitante}}</td>
                  <td>{{ incidencia.materia }}</td>
                  <td>{{ incidencia.aula}}</td>
                  <td>{{ incidencia.hora_fin }}</td>
                  <td>{{ incidencia.incidencia }}</td>
                </tr>
              
              {% endfor %}
            </tbody>
          </table>
    </div>
</div>


{% endblock %}

{% block scripts %}
<script src="{% static '/js/preloader.js' %}"></script>
<script src="{% static 'plugins/countdown/js/jquery.plugin.js' %}"></script>
<script src="{% static 'plugins/countdown/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'plugins/jquery-searchable/jquery.searchable.js' %}"></script>

<script type="text/javascript">
  $(function () {
    $( '.table' ).searchable();
  });
</script>
<script>
  function incidencia_confirm() {
    confirm("Desea marcarlo como incidencia?");
  }
</script>


{% endblock %}