{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap %}

{% block subtitle %}
Proyectores
{% endblock %}

{% block styles %}
<style>

</style>
{% endblock %}

{% block nav %}

{% include 'dash_navbar.html' %}

{% endblock %}



{% block content %}


  {% include 'messages.html' %}


<div class="container mb-3 d-flex justify-content-between align-items-center">
  <h1 class="mb-3"> Proyectores </h1>
  
  <div class="container d-flex flex-column">
    <a class="btn btn-warning ml-auto mb-2" href="{% url 'add_proyector' %}" role="button">Registrar Proyector</a>
    <a class="btn btn-warning ml-auto" href="{% url 'add_componente' %}" role="button">Registrar Componente</a>
  </div>
</div>
<div class="container" id="lista-proyectores">
        <div class="row">
        {% for proyector in todos %}
        

          <div class="col-lg">
           
                <div class="card text-center mb-4">
                        <div class="card-header">
                         Proyector {{ proyector.id_proyector }}
                        </div>
                        <div class="card-body">
                          <p class="card-text">{{proyector.descripcion}}</p>
                          
                          <ul class="list-group list-group-flush mb-2">
                              {% for componente in todos_c %}
                              {% if componente.proyector == proyector %}
                              {% if componente.disponible %}
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                              {% else %}
                              <li class="list-group-item list-group-item-danger d-flex justify-content-between align-items-center">
                              {% endif %}
                                {{componente.nombre_componente}} 
                                {% if componente.disponible %}
                                  <form action ="{% url 'componente_status_update' componente.id_componente %}" method="POST">
                                    {% csrf_token %}
                                    <button class="btn btn-warning "type="submit" name="submit"><i class="fa fa-slash"></i></button>
                                  </form>
                                  {% else %}
                                  <form action ="{% url 'componente_status_update' componente.id_componente %}" method="POST">
                                        {% csrf_token %}
                                        <button class="btn btn-success "type="submit" name="submit"><i class="fa fa-check"></i></button>
                                      </form>
                                {% endif %}
                              </li>
                              {% endif %}
                              {% endfor %}
                          </ul>

                          {% if proyector.disponible %}
                          <form action ="{% url 'proyector_status_update' proyector.id_proyector %}" method="POST">
                            {% csrf_token %}
                            <input class="btn btn-warning" type="submit" name="submit" value="Marcar como No disponible" />
                          </form>
                          {% else %}
                          <form action ="{% url 'proyector_status_update' proyector.id_proyector %}" method="POST">
                                {% csrf_token %}
                                <input class="btn btn-success" type="submit" name="submit" value="Marcar como Disponible" />
                              </form>
                          {% endif %}

                        </div>
                        {% if proyector.disponible %}
                        <div class="card-footer bg-success text-light">
                          Disponible
                        </div>
                          {% else %}
                        <div class="card-footer bg-danger text-light">
                         No Disponible
                        </div>
                        {% endif %}
                        
                </div>
                
          </div>
          {% empty %}
        <p>No hay proyectores registrados </p>
          {% endfor %}
          
        </div>
</div>
<div class="container" id="lista-componentes">
  <h1>Componentes</h1>
  <div class="row">
    {% for componente in todos_c %}
    <div class="col-lg">
        <div class="card text-center mb-4">
            <div class="card-header">
             Componente {{ componente.id_componente }}: {{componente.nombre_componente}}
            </div>
            <div class="card-body">
              <p class="card-text">{{componente.descripcion}}</p>
              {% if componente.proyector %}
              Pertenece a {{ componente.proyector }}
              {% endif %}
              {% if componente.disponible %}
              <form action ="{% url 'componente_status_update' componente.id_componente %}" method="POST">
                {% csrf_token %}
                <input class="btn btn-warning" type="submit" name="submit" value="Marcar como No disponible" />
              </form>
              {% else %}
              <form action ="{% url 'componente_status_update' componente.id_componente %}" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-success" type="submit" name="submit" value="Marcar como Disponible" />
                  </form>
              {% endif %}
            </div>

            {% if componente.disponible %}
            <div class="card-footer bg-success text-light">
              Disponible
            </div>
              {% else %}
            <div class="card-footer bg-danger text-light">
             No Disponible
            </div>
            {% endif %}
            
    </div>

    </div>
    {% empty %}
    <p>No hay componentes registrados</p>
    {% endfor %}
  </div>

</div>

{% endblock %}

{% block scripts %}

<script>
$('.nav.navbar-nav > li').on('click', function (e) {
    
    $('.nav.navbar-nav > li').removeClass('active');
    $(this).addClass('active');
});

</script>

{% endblock %}