{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap %}


{% block subtitle %}
Solicitud
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
<link rel="stylesheet" href="{% static '/css/jquery-ui.css' %}">


{% endblock %}



{% block content %}


  {% include 'messages.html' %}




<div class="solicitud">



<form class="site-form" action="{% url 'sol_proyector' %}" method="POST">
        {% csrf_token %}
        <table>
                <h3>{{solicitante.nombre}} {{solicitante.ap_pat}} {{solicitante.ap_mat}}</h3>
                <div class="form-group">
                        
                        <input type="hidden" name="solicitante" class="form-control" id="matricula-solicitante" placeholder="No. Control" value="{{ solicitante.matricula }}" required>
                    </div>

                    
                        <div class="form-group">
                        
                        
                            <label class="control-label required" for="id_proyector">Seleccionar Proyector</label>
                        
                            <div class=" ">
                                <select name="proyector" class=" form-control" id="id_proyector">
                                    <option value=''>No deseo seleccionar ningun Proyector</option>
                                    {% for disponible in disponibles %}
                                    <option value="{{disponible.id_proyector}}">Proyector {{disponible.id_proyector}}</option>
                                    {% empty %}
                                    <option value="" selected="">-------------No hay Proyectores disponibles----------</option>
                                    {% endfor %}
                                    
                        
                                </select>
                            </div>
                        
                        </div>
                    
                    {% if materias %}
                    <div class="form-group">
                    
                        
                      <label class="control-label required" for="nombre_materia">Seleccionar Materia</label>
                  
                      <div class=" ">
                          
                          <select name="materia" class=" form-control" required="" id="nombre_materia">
                              <option value="" selected="">---------</option>
                              {% for materia in materias %}
                              <option value="{{materia.nombre}}"> {{materia.nombre}}</option>
                              {% endfor %}

                  
                          </select>
                     
                      </div>
          
                  
                  </div>
                  {% else %}
                  {{ form.materia|bootstrap }}
                  {% endif %}

            
            {{ form.aula|bootstrap }}
            <label class="control-label" for="hora_fin">¿A qué hora se devolverá el proyector? <strong>(formato 24 horas)</strong></label>
            <div class="input-group date" id="datetimepicker-hora_fin" data-target-input="nearest">
                
                    <input type="text" name="hora_fin" class="form-control datetimepicker-input" data-target="#datetimepicker-hora_fin"/>
                    
                    <div class="input-group-append" data-target="#datetimepicker-hora_fin" data-toggle="datetimepicker">
                      <div class="input-group-text text-danger"><i class="fa fa-calendar "></i></div>
                    </div>
            </div>
            <div class="card mt-5">
            <div class="card-header">Componentes</div>

            <div class="card-body">
                {% for componente in componentes %}
                <li><label for="id_componentes_{{componente.id_componente}}">
                    <input type="checkbox" name="componentes" value="{{componente.id_componente}}" id="id_componentes_{{componente.id_componente}}" {% if componente.proyector %} class="{{componente.proyector}}" {% endif %}>
                    {{componente.nombre_componente }}</label>
                </li>
                {% endfor %}
            </div>

            </div>
            
           
           {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
    
            {% endif %}
            <tr>
               <td></td>
               <td><input class="btn btn-warning mt-3" type="reset" name="submit" value="Borrar campos" /></td>
           </tr>
       
        </table>
    



<div class="d-flex flex-row p-2">
    <div class="ml-auto">
        <a class="btn btn-secondary" href="{% url 'solicitud' %}" role="button">Cancelar</a>
          
        <button type="submit" class="btn btn-success">Registrar</button>
    </div>
</div>


</form>

</div>


{% endblock %}

{% block scripts %}

<script src="{% static '/plugins/combobox/combobox.js' %}"></script>

<script>
$("#id_proyector").change(function(){
    {% for proyector in disponibles %}
        if($('#id_proyector :selected').text() === 'Proyector {{ proyector.id_proyector }}'){
         $('.Proyector {{id_proyector}}').prop('checked', true);
        } else {
            $('.Proyector {{id_proyector}}').prop('checked', false);
        }
    {% endfor %}
});
</script>

<script>
$('#datetimepicker-hora_fin').datetimepicker({
    inline:true,
    sideBySide:true,
    format: "YYYY-MM-DD HH:mm:00",
    icons:{
        today: "fa fa-calendar-check",
    },
    tooltips:{
        today:"Ir a fecha de hoy",
    },
    buttons: {
    showToday: true,
    showClear: false,
    showClose: false
  }
    
});

</script>

<script type="text/javascript">
  $(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>
<script>
function devolucion_confirm() {
  confirm("Desea realizar la devolucion del proyector?");
}
</script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}

