{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap %}
{% load extra_tags %}

{% block subtitle %}
Solicitantes
{% endblock %}

{% block styles %}

{% endblock %}

{% block nav %}
{% include 'dash_navbar.html' %}
{% endblock %}



{% block content %}


  {% include 'messages.html' %}


{% include 'preloader.html' %}

<div class="container mb-3 d-flex justify-content-between align-items-center">

  <h1 class="mb-4"> Lista de Solicitantes </h1>
  <a class="btn btn-warning" href="{% url 'add_solicitante' %}" role="button">Registrar Solicitante</a>

</div>


<div class="solicitantes">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <input type="search" id="search" value="" class="form-control" placeholder="Buscar...">
            </div>
        </div>

    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            
        </div>
        </div>
    <ul class="nav nav-tabs flex-fill justify-content-center bg-light" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="false">Todos</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" id="regulares-tab" data-toggle="tab" href="#regulares" role="tab" aria-controls="regulares" aria-selected="true">Regulares</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="con_incidencias-tab" data-toggle="tab" href="#con_incidencias" role="tab" aria-controls="con_incidencias" aria-selected="true">Con Incidencias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="bloqueados-tab" data-toggle="tab" href="#bloqueados" role="tab" aria-controls="cerrados" aria-selected="true">3 o mas Incidencias</a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                    <table class="table text-center table-hover" id="prestamo-table" cellpadding="10">
                        <thead>
                          <tr>
                            <th scope="col">Matricula</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Carrera</th>
                            <th scope="col">Bloqueado</th>
                            <th scope="col">Incidencias</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for s in todos %}
                            
                            {% if  incidentes_all|de_solicitante:s.matricula  >= 3 %}
                            <tr class="clickable-row table-danger" data-href="#">
                            {% elif incidentes_all|de_solicitante:s.matricula  < 3 and incidentes_all|de_solicitante:s.matricula  > 0 %}
                            <tr class="clickable-row table-warning" data-href="#">
                            {% else %}
                            <tr class="clickable-row table-hover" data-href="#">
                            {% endif %}
                                    <td scope="row">{{ s.matricula }}</td>
                                    <td>{{ s.nombre}} {{s.ap_pat}} {{s.ap_mat}}</td>
                                    <td>{{ s.carrera }}</td>
                                    <td>{{ s.bloqueado }}</td>
                                    <td>{{ incidentes_all|de_solicitante:s.matricula}}</td>
                                    

                            </tr>
                          
                          {% endfor %}

                        </tbody>
                      
                      </table>
            
                </div>
                <div class="tab-pane fade" id="regulares" role="tabpanel" aria-labelledby="regulares-tab">
                    <table class="table text-center table-hover" id="rgulares-table" cellpadding="10">
                        <thead>
                          <tr>
                            <th scope="col">Matricula</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Carrera</th>
                            <th scope="col">Bloqueado</th>
                          </tr>
                        </thead>
                        <tbody>
                                {% for regular in regulares %}
                              
                                <tr class="clickable-row table-primary" data-href="#">
                                        <td scope="row">{{ regular.matricula }}</td>
                                        <td>{{ regular.nombre}} {{regular.ap_pat}} {{regular.ap_mat}}</td>
                                        <td>{{ regular.carrera }}</td>
                                        <td>{{ regular.bloqueado }}</td>
                                        
    
                                </tr>
                              
                              {% endfor %}

                        </tbody>
                      </table>
            
                </div>
                <div class="tab-pane fade" id="con_incidencias" role="tabpanel" aria-labelledby="con_incidencias-tab">
                        <table class="table text-center table-hover" id="prestamo-table" cellpadding="10">
                            <thead>
                              <tr>
                                    <th scope="col">Matricula</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Carrera</th>
                                    <th scope="col">Incidencias</th>
                                    <th scope="col">Bloqueado</th>
                                    
                              </tr>
                            </thead>
                            <tbody>
                              {% for incidente in incidentes %}
                              
                                <tr class="clickable-row table-warning" data-href="#">
                                        <td scope="row">{{ incidente.matricula }}</td>
                                        <td>{{ incidente.nombre}} {{incidente.ap_pat}} {{incidente.ap_mat}}</td>
                                        <td>{{ incidente.carrera }}</td>
                                        <td>{{ incidentes_count.solicitante_count }}</td>
                                        <td>{{ incidente.bloqueado }}</td>
                                        
    
                                </tr>
                              
                              {% endfor %}
                            </tbody>
                          </table>
                    </div>
                    <div class="tab-pane fade show" id="bloqueados" role="tabpanel" aria-labelledby="bloqueados-tab">
                            <table class="table text-center table-hover" id="prestamo-table" cellpadding="10">
                                <thead>
                                  <tr>
                                        <th scope="col">Matricula</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Carrera</th>
                                        <th scope="col">Incidencias</th>
                                        <th scope="col">Bloqueado</th>
                                        <th scope="col">Bloquear</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for bloqueado in bloqueados %}
                                  
                                    <tr class="clickable-row table-danger" data-href="#">
                                            <td scope="row">{{ bloqueado.matricula }}</td>
                                            <td>{{ bloqueado.nombre}} {{bloqueado.ap_pat}} {{bloqueado.ap_mat}}</td>
                                            <td>{{ bloqueado.carrera }}</td>
                                            <td>{{ bloqueados_count.solicitante_count }}</td>
                                            <td>{{ bloqueado.bloqueado }} </td>
                                            <td>
                                            {% if bloqueado.bloqueado == False %}
                                            <form action ="{% url 'bloquear_solicitante' bloqueado.matricula %}" method="POST">
                                                    {% csrf_token %}
                                                <button class="btn btn-danger" type="submit" name="submit"><i class="fas fa-user-slash"></i></button>
                                            </form>
                                            {% else %}
                                            <form action ="{% url 'bloquear_solicitante' bloqueado.matricula %}" method="POST">
                                                    {% csrf_token %}
                                                    <button class="btn btn-primary" type="submit" name="submit"><i class="fas fa-user-check"></i></button>
                                            </form>
                                            {% endif %}
                                            </td>

        
                                    </tr>
                                  
                                  {% endfor %}
                                </tbody>
                              </table>
                        </div>

    </div>

</div>


{% endblock %}

{% block scripts %}
<script src="{% static '/js/preloader.js' %}"></script>

<script src="{% static 'plugins/jquery-searchable/jquery.searchable.js' %}"></script>

<script type="text/javascript">
  $(function () {
    $( '.table' ).searchable();
  });
</script>
<script>
    function block_confirm() {
        confirm("Desea realizar la devolucion del proyector?");
    }
</script>

{% endblock %}